body {
    display: flex;
    background-color: rgb(66, 60, 123);
    justify-content: center;
    
}
.canvas-container {
    background-color: rgb(0, 0, 0);
    padding: 12px 15px;
    border-radius: 8px;


}
